
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    list-style-type: none;
}

:root{
     --a:0;
}
  body{
    background-color: black;
    color: white;
  }


.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}


.invert{
    filter: invert(1);
}


.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style-type: none;
    padding-top: 14px;
  
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}



.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 11px;
}

.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    margin-left: 30px;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34,34);
    
}

.header > *{
      padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
    max-height: 100vh;
    
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;

}

.spotifyPlaylists .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;

}

.card{
    position: relative;
}

.play{
    position: absolute;
    top: 168px;
    transition: all .9s ease-out;
    right: 17px;
    display: block;
    opacity: var(--a);
}

.card > *{
    padding-top: 3px;
}

.card img{
    width: 100%;
    object-fit: contain;
}


.buttons > *{
    margin: 0 12px;
}


.signupbtn{
    background-color: rgb(34, 34,34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: normal;
    padding: 10px;
   font-size: 16px;
    width: 79px;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 16px;
    width: 70%;
    background-color:rgb(34, 34,34);
    border-radius: 5px;
    height: 76px;
    /* padding: 12px; */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 3px;
    

    
}

.songPlayer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.songInfo{
     width: 15%;
     /* border: 1px solid white; */
     text-align: center;
}

.songbtn{
    width: 50%;
    /* border: 1px solid white; */
}

.songTime{
     width: 15%;
     /* border: 1px solid white; */
     text-align: center;
}

.seekBar{
    width: 98%;
     border: 1px solid white; 
    height: 4px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(69, 241, 69);
    position: relative;
    bottom: 3px;
    left: 0;
    transition: left 0.5s;
}



.songbtn{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songList{
    display:flex;
    flex-direction: column;
    height: 490px;
    padding-right: 10px;
    overflow: auto;
    /* border: 1px solid white; */
}

.song-item{
    width: 100%;
    /* box-sizing: border-box; */
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
   padding: 7px 7px;
    justify-content: space-between;
    margin-top: 10px;
}

.song-icon{
    width: 10%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    padding-left: 5px;
    align-items: center;
}

.song-info{
    width: 52%;
    /* border: 1px solid white; */
    padding: 0 10px;
}

.song-play{
    width: 33%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color{
    color:rgb(69, 241, 69);
}

.ham{
    display: none;
    filter: invert(1);
}

.cross{
    display: none;
}

 .card:hover{
     transition:all .9s;
     background-color: rgb(99, 94, 94);
     --a:1;
 }

/* attaching the media queries  */

 @media (max-width:1100px){

     .left{
         position: absolute;
         left: -120%;
         transition: all .3s;
         z-index: 1;
         width: 373px;
         background-color: black;
         padding: 0;
     }

     .right{
        width: 100vw;
        margin: 0;
     }
     .cardContainer{
        justify-content: center;
        margin: 0;
        width: 100%;
     }

.spotifyPlaylists .card {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

 .time{
    display: none;
 }

     .playbar{
        width: 95vw;
        height: 100px;
        /* z-index: 2; */
        left: 2.5vw;
        font-size: 1.2rem;
        bottom: 10px;
        background-color:black;
        color: white;
     }

      .songPlayer{
         display: flex;
         flex-direction: column;
         gap: 15px;
      }
     .songbtn{
         width: 100%;
     }
     
     .songInfo{
         width:100%;
     }

      .songTime{
         width: 100%;
      }

     .btn-c{
        width: 1.5rem;
        height: 1.5rem;
     }

     .show{
         display: none;
     }

     .spotifyPlaylists h1{
        padding: 16px;
    
        
    }

    .songInfo{
        word-break: break-all;
    }
     
     .ham{
        display: inline-block;
        width: 40px;
        height: 40px;
     }

      .cross{
        display: inline-block;
        width: 40px;
        height: 40px;
      }

     .logo{
        display: flex;
        justify-content: space-between;
    }
 }